<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bookexchange1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>homepage.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.bookexchange.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.bookexchange.servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistration</display-name>
    <servlet-name>UserRegistration</servlet-name>
    <servlet-class>com.bookexchange.servlets.UserRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistration</servlet-name>
    <url-pattern>/UserRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookRegistration</display-name>
    <servlet-name>BookRegistration</servlet-name>
    <servlet-class>com.bookexchange.servlets.BookRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookRegistration</servlet-name>
    <url-pattern>/BookRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDetail</display-name>
    <servlet-name>BookDetail</servlet-name>
    <servlet-class>com.bookexchange.servlets.BookDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDetail</servlet-name>
    <url-pattern>/BookDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookSearch</display-name>
    <servlet-name>BookSearch</servlet-name>
    <servlet-class>com.bookexchange.servlets.BookSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookSearch</servlet-name>
    <url-pattern>/BookSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBook</display-name>
    <servlet-name>SearchBook</servlet-name>
    <servlet-class>com.bookexchange.servlets.SearchBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBook</servlet-name>
    <url-pattern>/SearchBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.bookexchange.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bid</display-name>
    <servlet-name>Bid</servlet-name>
    <servlet-class>com.bookexchange.servlets.Bid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bid</servlet-name>
    <url-pattern>/Bid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMsg</display-name>
    <servlet-name>SendMsg</servlet-name>
    <servlet-class>com.bookexchange.servlets.SendMsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMsg</servlet-name>
    <url-pattern>/SendMsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageReply</display-name>
    <servlet-name>MessageReply</servlet-name>
    <servlet-class>com.bookexchange.servlets.MessageReply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageReply</servlet-name>
    <url-pattern>/MessageReply</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyMsg</display-name>
    <servlet-name>ReplyMsg</servlet-name>
    <servlet-class>com.bookexchange.servlets.ReplyMsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyMsg</servlet-name>
    <url-pattern>/ReplyMsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SoldBook</display-name>
    <servlet-name>SoldBook</servlet-name>
    <servlet-class>com.bookexchange.servlets.SoldBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SoldBook</servlet-name>
    <url-pattern>/SoldBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.bookexchange.servlets.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBook</display-name>
    <servlet-name>UpdateBook</servlet-name>
    <servlet-class>com.bookexchange.servlets.UpdateBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBook</servlet-name>
    <url-pattern>/UpdateBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bookuncheck</display-name>
    <servlet-name>Bookuncheck</servlet-name>
    <servlet-class>com.bookexchange.servlets.Bookuncheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bookuncheck</servlet-name>
    <url-pattern>/Bookuncheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updateadd</display-name>
    <servlet-name>Updateadd</servlet-name>
    <servlet-class>com.bookexchange.servlets.Updateadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updateadd</servlet-name>
    <url-pattern>/Updateadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.bookexchange.servlets.BookSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Feedback</display-name>
    <servlet-name>Feedback</servlet-name>
    <servlet-class>com.bookexchange.servlets.Feedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Feedback</servlet-name>
    <url-pattern>/Feedback</url-pattern>
  </servlet-mapping>
</web-app>